body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f3ee;
}

header, footer {
    background-color: #f4d9af;
    padding: 10px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffefd5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.book-details {
    display: flex;
    gap: 20px;
}

.book-rating {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.book-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.book-info ul {
    list-style: none;
    padding: 0;
}

.book-info ul li {
    margin: 5px 0;
}

.book-image {
    width: 150px;
    height: 200px;
    background-color: #ddd;
    object-fit: cover;
}

.book-summary h2 {
    margin-top: 20px;
    color: #555;
}

.book-summary p {
    text-align: justify;
    color: #333;
    margin-top: 10px;
}

.book-rating-form {
    margin-top: 20px;
}

.book-rating-form label {
    margin-right: 10px;
    font-weight: bold;
}

.book-rating-form select {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #555;
}
